
header {
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
    color: royalblue;
    
}

footer {
    margin: 5.0rem;
    text-align: center;
    background-color: royalblue;
    box-sizing: border-box;
    border-radius: 8px;
}

body {


}

.row {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;  /*keeps cards the same size when screen changes sizes*/
    margin-bottom: 1.5rem;
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 80%;
    padding: 1rem;
    color:  royalblue;
    outline: 2px dashed;
    outline-offset: -2px;
    margin: 3rem 0 2.0rem 0;
    background-color: rgb(161, 161, 161);
    box-sizing: border-box;
    
           
}

.card-header  {
    position: relative;
    margin:  -2rem 0 1.5rem 0;
    background-color: whitesmoke;
    color:  royalblue;
    border: 2px solid black;
    border-radius: 8px;
    justify-content: center;
    text-align: center;   
            
}

.card-body {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 8px;
}


.code-card .code-block {
    flex-grow: 1;
    font-weight: bolder;
  }

  .code-card pre {
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    overflow: auto;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    tab-size: 4;
    border-radius: 8px;
    padding: 1.2rem 1rem;
    text-align: left;
    background-color: whitesmoke;
  }

  p {
    font-weight: bolder;
    font-size: large;
  }

  code {
    text-align: left;       
  }

  /* creates a glow effect when hovering over these sections of the page */
  .code-card:hover,
  .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px gold, 0 0 15px gold;
  }

  .code-card pre:active {
    user-select: all;
}

  code {
    font-family: monospace;
    font-size: 125%;
  }
 
  
    
  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
  @media screen and (min-width: 768px) {
   
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }